<img src="./assets/images/logo.svg"
    alt="Not found svg" />
    <h1>PlanBetter</h1>

<div class="login">
  <h2>
    <br><br><br><br><br><br><br><br>
    <label style="position: absolute;left:400px;top:100"for="email">Email</label><br>
    <input style="position: absolute;left:200px;top:100"id="email" type="text" name="email">
    <br><br><br>
    <label style="position: absolute;left:400px;top:800"for="password">Password</label><br>
    <input style="position: absolute;left:200px;top:100"id="password" type="password" name="password">

    <button style=" position: absolute;
    left: 280px;
    top: 520px;">Login</button>

  <button style=" position: absolute;
left: 280px;
top: 586px;">Forgot password</button>

<button style=" position: absolute;
    left: 280px;
    top: 652px;">Sign Up</button>
  </h2>

  <h3>Login</h3>
  <h6> Welcome back. Login with your data that you entered during your registration.</h6>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <hr style="height:3px;width:1880px;color:rgb(255, 255, 255);background-color:rgb(255, 255, 255)">
</div>
