<h1>PlanBetter</h1>
<img src="./assets/images/logo.svg" class="img1">
<h2>

  <button class="button1" >Notifications</button>
  <button class="button2" >Questions</button>
  <button class="button3" (click)="router.navigate(['/studenttimer']);">Timer</button>
  <button class="button4" >Courses Summary</button>
  <button class="button5" >Help</button>
  <button class="button6" (click)="router.navigate(['/login']);">Sign Out</button>

</h2>

<input id="search" type="text" name="search">
<input id="search" type="text" name="search">
<h5>Alege data si ora:</h5>
<input type="date" >
<button  class="button9" >Alege</button>

<input type="time" id="appt" name="appt" min="09:00" max="18:00" required>
<iframe src="https://free.timeanddate.com/clock/i8fhhzhy/n2209/tlro32/fs22/fcfff/tc147839/pc147839/ahr/tt0/td2/tb4" frameborder="0" width="291" height="54"></iframe>
<mat-card class="demo-inline-calendar-card">
  <mat-calendar [(selected)]="selected"></mat-calendar>
</mat-card>
<p>Selected date: {{selected}}</p>

