
<div class="checkemail">
  <h2>
    <button style=" position: absolute;
    left: 280px;
    top: 520px;">Open email app</button>

  <button style=" position: absolute;
left: 280px;
top: 586px;">Resend</button>

<button style=" position: absolute;
    left: 280px;
    top: 652px;">Back to login</button>

  </h2>

  <h3>Check your email</h3>
  <h6> A password reset link was sent.</h6>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <hr style="height:3px;width:1880px;color:rgb(255, 255, 255);background-color:rgb(255, 255, 255)">
</div>
