

input[type=text], select {
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

h3{
  position: absolute;
width: 710px;
height: 180px;
left: 55px;
top: 5px;
background: #147839;
}
img{
  /* logopng */

position: absolute;
width: 77px;
height: 56px;
left: 0px;
top: 0px;



}
h1{/* PlanBetter */

  position: absolute;
  width: 221px;
  height: 56px;
  left: calc(50% - 221px/2 - 772.5px);
  top: calc(50% - 56px/2 - 508px);

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;

  color: #FFFFFF;

  }
