<h3></h3>
<br>
<input style="position: absolute;left:750px;top:100"id="search" type="text" name="search">
<h2></h2>
<button class="button"style="
position: absolute;
left: 60px;
top: 352px;">Add exam</button>
<button class="button"style="
position: absolute;
left: 60px;
top:400px;">Edit exam</button>
<button class="button"style="
position: absolute;
left: 60px;
top: 452px;">Delete exam</button>
<button class="button"style="
position: absolute;
left: 60px;
top: 500px;">Questions</button>
<button class="button"style="
position: absolute;
left: 60px;
top: 552px;">Notifications</button>
<button class="button"style="
position: absolute;
left: 60px;
top: 600px;">Help</button>
<button class="button"style="
position: absolute;
left: 60px;
top: 652px;">About</button>
<button class="button"style="
position: absolute;
left: 60px;
top: 702px;">Sign Out</button>
