<h1>PlanBetter</h1>
<img src="./assets/images/logo.svg" class="img1">
<h2>

  <button class="button1" >Notifications</button>
  <button class="button2" >Questions</button>
  <button class="button3" (click)="router.navigate(['/studenttimer']);">Timer</button>
  <button class="button4" >Courses Summary</button>
  <button class="button5" >Help</button>
  <button class="button6" (click)="router.navigate(['/login']);">Sign Out</button>

</h2>

<input id="search" type="text" name="search">
<iframe src="https://free.timeanddate.com/clock/i8fhhzhy/n2209/tlro32/fs22/fcfff/tc147839/pc147839/ahr/tt0/td2/tb4" frameborder="0" width="291" height="54"></iframe>

<iframe class="timer"width="475" height="250" src="https://vclock.com/embed/timer/#countdown=00:25:00&enabled=0&seconds=1500&onzero=2&theme=1&ampm=1&sound=classic" frameborder="0" allowfullscreen></iframe>
