<h1>PlanBetter</h1>
<img src="./assets/images/logo.svg" class="img1">
<h2>

  <button class="button1" >Notifications</button>
  <button class="button2" >Questions</button>
  <button class="button3" (click)="router.navigate(['/studenttimer']);">Timer</button>
  <button class="button4" >Courses Summary</button>
  <button class="button5" >Help</button>
  <button class="button6" (click)="router.navigate(['/login']);">Sign Out</button>

</h2>

<input id="search" type="text" name="search">

<h6>
  {{dateTime|date:'HH:mm:ss'}}
  <br>
  {{dateTime|date :'EEEE, MMMM d, y'}}
</h6>




<div class="sw-container">
  <div class="timer">
    <span>{{hr}} : </span>
    <span>{{min}} : </span>
    <span>{{sec}} : </span>
    <span>{{ms}}</span>
  </div>
  <div class="button-container">
    <button class="button7" (click)="start()" >Start</button>
    <button class="button8" (click)="reset()">Reset</button>
  </div>
</div>
