@import url(https://fonts.googleapis.com/css?family=Roboto);
input[type=text], select {
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

h3{
  position: absolute;
width: 710px;
height: 180px;
left: 55px;
top: 5px;
background: #147839;
}

h2{/* Admin sidebar menu */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 6px;

  position: relative;
  width: 221px;
  height: 900px;

  background: #FFFFFF;
}
button{
  /* Button2 */

  box-sizing: border-box;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #147839;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  position: absolute;
  width: 125px;
  height: 41px;
  left: 897px;
  top: 900px;

  background: #FFFFFF;
  border: 2px solid #147839;
  border-radius: 6px;

  }
  button:hover{
  /* Button */

  width: 125px;
  height: 41px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  background: #147839;
  color: #ffffff;
  border: 2px solid #ffffff;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  }
