
<div class="signup">
  <h2>
    <br><br><br><br><br><br><br>

    <label style="position: absolute;left:350px"for="FirstName">First Name</label>
    <br>
    <input style="position: absolute;left:150px"id="FirstName" type="text" name="FirstName">
    <br><br><br>
    <label style="position: absolute;left:350px"for="LastName">Last Name</label>
    <br>
    <input style="position: absolute;left:150px"id="LastName" type="text" name="LastName">

    <br><br><br>
    <label style="position: absolute;left:380px;top:800"for="Email">Email</label>
    <br>
    <input style="position: absolute;left:150px;top:100"id="Email" type="text" name="Email">
    <br><br><br>
    <label style="position: absolute;left:350px;top:800"for="SetPassword">Set Password</label>
    <br>
    <input style="position: absolute;left:150px;top:100"id="SetPassword" type="password" name="SetPassword">
    <br><br>
    <button style=" position: absolute;
    left: 280px;
    top: 626px;">Login</button>



<button style=" position: absolute;
    left: 280px;
    top: 692px;">Sign Up</button>

  </h2>

  <h3>Sign Up</h3>
  <h5> Create an account and start plan better your exams. </h5>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <hr style="height:3px;width:1880px;color:rgb(255, 255, 255);background-color:rgb(255, 255, 255)">
</div>
