@import url(https://fonts.googleapis.com/css?family=Roboto);
.signup {


  form{
  position: absolute;
  width: 700px;
  height: 643px;
  left: 450px;
  top: 50px;
  background: #FFFFFF;
  }
  ::placeholder{
    font-family: 'Inter';
  font-style: normal;
  font-weight: 40;
    font-size: 15px;
    color:grey;
  }
  h4{
    right:-40px;

  position: absolute;
  width: 810px;
  height: 133px;

top:-20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #000000;
  }

  h5{
    /* Welcome back. Login with your data that you entered during your registration. */

  position: absolute;
  width: 801px;
  height: 83px;
  right:-70px;
  top: 45px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 40;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #000000;
  }


  button{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  position: absolute;
  width: 270px;
  height: 40px;

  right:-20px;

  background: #147839;
  box-shadow: 0px 4px 8px rgba(20, 120, 57, 0.1);
  border-radius: 6px;



  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #FFFFFF;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  }

  button:hover{
    /* Property 2=otlined */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  position: absolute;
  width: 270px;
  height: 40px;



  border: 2px solid #147839;
  border-radius: 6px;
  background: #ffffff;

  /* Button */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #147839;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  }

  #FirstName{
    width: 500px;
    top:150px;
    position: absolute;
    left:100px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

  }
  #LastName{
    width: 500px;
    position: absolute;left:100px;
    padding: 12px 20px;
    margin: 8px 0;
    top:250px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;


  }
  #Email{
    width: 500px;
    position: absolute;left:100px;
    padding: 12px 20px;
    margin: 8px 0;
    top:350px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  #SetPassword{
    position: absolute;left:100px;
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    top:450px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

  hr{
position: absolute;
top:200px;
    height:2px;
    width:1535px;

    border-width:0;
    color:rgb(255, 255, 255);
    background-color:rgb(255, 255, 255);
  }


#login{
  left: 200px;
    top: 520px;
}
#signup{
  left: 200px;
  top: 590px;
}

label[for=LastName]{
  position: absolute;left:280px;top:220px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 40;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #000000;
}
label[for=FirstName]{
  position: absolute;left:280px;top:120px;
font-family: 'Inter';
  font-style: normal;
  font-weight: 40;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #000000;
}
label[for=Email]{
  position: absolute;left:300px;top:320px;
font-family: 'Inter';
  font-style: normal;
  font-weight: 40;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #000000;
}
label[for=SetPassword]{
  position: absolute;left:280px;top:420px;
font-family: 'Inter';
  font-style: normal;
  font-weight: 40;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #000000;
}
.img{
  position: absolute;
  width: 275px;
  height: 150px;
  left: 50px;
  top: -10px;
}
}
