<div class="signup">
  <hr>
<form>

  <h4>Sign Up</h4>
  <h5> Create an account and start plan better your exams. </h5>

<div >

    <label for="FirstName">First Name</label>
    <input id="FirstName" type="text" name="FirstName">


    <label for="LastName">Last Name</label>
    <input id="LastName" type="text" name="LastName">


    <label for="Email">Email</label>
    <input id="Email" type="text" name="Email">

    <label for="SetPassword">Set Password</label>
    <input id="SetPassword" type="password" name="SetPassword">
</div>

    <button  id="login">Login</button>
    <button id="signup">Sign Up</button>

</form>
</div>
