
<h3></h3>
<br>
<input style="position: absolute;left:750px;top:100"id="search" type="text" name="search">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<button class="button"style="
position: absolute;
left: 60px;
top: 352px;">Notifications</button>
<button class="button"style="
position: absolute;
left: 60px;
top:400px;">Questions</button>
<button class="button"style="
position: absolute;
left: 60px;
top: 452px;">Timer</button>
<button class="button"style="
position: absolute;
left: 60px;
top: 500px;">Help</button>
<button class="button"style="
position: absolute;
left: 60px;
top: 552px;">About</button>
<button class="button"style="
position: absolute;
left: 60px;
top: 600px;">Sign Out</button>
