.not-found {

img{
    position: absolute;
    width: 922px;
    height: 607px;
    left: 499px;
    top: 237px;
}

button{
/* Button2 */

box-sizing: border-box;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
color: #147839;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 125px;
height: 41px;
left: 897px;
top: 900px;

background: #FFFFFF;
border: 2px solid #147839;
border-radius: 6px;

}
button:hover{
/* Button */

width: 125px;
height: 41px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */
background: #147839;
color: #ffffff;
border: 2px solid #ffffff;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

}
