@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Inter);

.img1{
    /* Logo */
  position: fixed;
  width: 275px;
  height: 200px;
  left: 139px;
  top: 0px;
}
.img2{
  /* Imagine eroare */
    position: fixed;
    width: 922px;
    height: 607px;
    left: 499px;
    top: 237px;
}

h1{
  /* PlanBetter langa logo */
  position: fixed;
  width: 346px;
  height: 75px;
  left: 414px;
  top: 0px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #FFFFFF;
  }


button{
/* Button2 */
box-sizing: border-box;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
color: #147839;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
position: fixed;
width: 125px;
height: 51px;
left: 897px;
top: 900px;
background: #FFFFFF;
border: 2px solid #147839;
border-radius: 6px;
}

button:hover{
/* Button */

width: 125px;
height: 51px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */
background: #147839;
color: #ffffff;
border: 2px solid #ffffff;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
