@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Inter);

.img1{
  /* Logo */
  position: fixed;
  width: 275px;
  height: 200px;
  left: 139px;
  top: 0px;
}

h1{
  /* PlanBetter langa logo */
  position: fixed;
  width: 346px;
  height: 75px;
  left: 414px;
  top: 0px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #FFFFFF;
  }

h2{
  /* Rectangle 2 */
position: fixed;
width: 810px;
height: 770px;
left: 555px;
top: 164px;
background: #FFFFFF;
}

h3{
  /* Linie */
  position: fixed;
  width: 1921.5px;
  height: 0px;
  left: 0px;
  top: 344.5px;
  border: 1px solid #FFFFFF;
}

h4{
  /* Login */
position: fixed;
width: 810px;
height: 133px;
left: 556px;
top: 164px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
text-align: center;
color: #000000;
font-weight: bold;
}

h5{
  /* Welcome back. Login with your data that you entered during your registration. */

position: fixed;
width: 810px;
height: 53px;
left: 552px;
top: 265px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;
}

button{
  /* Property 1=Shadow */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 270px;
height: 46px;
left: 20px;
top: 25px;

background: #147839;
box-shadow: 0px 4px 8px rgba(20, 120, 57, 0.1);
border-radius: 6px;


/* Button */

width: 270px;
height: 46px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.button1:hover{
  /* Property 2=otlined */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
position: absolute;
width: 270px;
height: 46px;
left: 830px;
top: 650px;

border: 2px solid #147839;
border-radius: 6px;
background: #ffffff;
/* Button */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */
color: #147839;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.button1{
  position: fixed;left: 830px; top: 650px;
}
