
<div class="forgotpassword">
  <h2>
    <button style=" position: absolute;
    left: 280px;
    top: 626px;">Reset password</button>

<button style=" position: absolute;
    left: 280px;
    top: 692px;">Back to login</button>

<br><br><br><br><br><br><br><br><br><br>
<label style="position: absolute;left:400px;top:100"for="email">Email</label><br>
<input style="position: absolute;left:200px;top:100"id="email" type="text" name="email">
  </h2>

  <h3>Forgot password?</h3>
  <h6> Please enter your email address.
    You will recive an email message with instructions on how to reset your password. </h6>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <hr style="height:3px;width:1880px;color:rgb(255, 255, 255);background-color:rgb(255, 255, 255)">
</div>
